@media screen and (min-width: 300px) and (max-width: 1024px) {
    body
    {
        font-size: 1em;
        flex-flow: row;
        overflow-x: hidden;

        margin: 0px;!important;
        padding: 0px;!important;
    }

    .navname
    {
        font-size: initial;
    }

    .spotlightcon
    {

        margin: auto;
        padding-right: 100%;

        background: var(--alphabg);
        border-radius: 16px;
        backdrop-filter: blur(2.5px);
        -webkit-backdrop-filter: blur(9.2px);
        transition: 1s;

    }

    .showcase
    {
        font-size: 1em;
        padding-right: 10px;
    }

    .headingsc
    {
        font-size: 5em;
        padding: 25px;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --alphabg: rgba(230, 230, 230, 0.75);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --alphabg: rgba(26, 26, 26, 0.75)

    }
}