@media (prefers-color-scheme: light) {
    :root {
        --text: #10170d;
        --background: #e6e6e6;
        --primary: #4bb611;
        --secondary: #a8ccb5;
        --accent: #5af207;
        --font-family: "Kumbh Sans", sans-serif;
        --grey: #dcdcdc;
        --popupbg: rgba(230,230,230,0.75);
        --bgdisablelight: rgba(230,230,230,0.95);
        --blur: blur(100px) ;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bgdisablelight: 0;
        --text: #ebf2e8;
        --background: #1a1a1a;
        --primary: #83ee49;
        --secondary: #335740;
        --accent: #5ff80d;
        --font-family: "Kumbh Sans", sans-serif;
        --grey: #3f3f3f;
        --popupbg: rgba(26,26,26,0.75);
        --blur: blur(100px) brightness(0.75);
    }
}

:root
{
    --anemo: #277D72 ;
    --hydro: #2D7EBB;
    --pyro: #9E614E;
}
body {

    color: var(--text);
!important;
    background: var(--background);
    text-decoration: none;
    font-family: "Kumbh Sans", sans-serif;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-x: none;
    scroll-behavior: smooth;
    transition: 1s;
    z-index: -1;
    margin: 0;


}

.navbar {
    top: 50px;
    width: auto;
    height: 5vh;
    display: flex;
    flex-flow: row;
    align-items: baseline;
    text-align: center;
    justify-content: space-between;
    position: static;
    background: var(--background);
    box-shadow: var(--background);
    overflow: hidden;
    padding: 25px;
    padding-left: 25px;
    padding-top: 20px;
    margin-bottom: 0px;
    background: var(--background);
    -webkit-box-shadow: 0px 25px 32px -7px var(--background);
    -moz-box-shadow: 0px 25px 32px -7px var(--background);
    box-shadow: 0px 25px 32px -7px var(--background);


}

.navlinks .icon
{
    display: none;
    transition: 1s;

}

@media screen and (min-width: 300px) and (max-width: 1024px) {
    .navlinks a:not(:last-child) {display: none;}
    .navlinks a.icon {
        float: right;
        display: block;
        height: 0px;

    }
    .hero
    {
        background-position: center;

    }
}

@media screen and (min-width: 300px) and (max-width: 1024px) {
    .navlinks.responsive {
        position: fixed;
        z-index: 2;
        display: flex;
        flex-flow: column;
        width: 100vw;
        height: 500px;
        padding-top: 20vw;
        padding-right: 5vw;
        padding-left: 0vw;
        padding-bottom: 10vh;
        left: 0px;
        border-radius: 10px;
        justify-items: center;
        place-items: center;
        background-color: var(--popupbg);
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px);;
        border-color: var(--text);
        border: 1px;
        transition: 1s;
        overflow: scroll;
    }
    .navlinks.responsive .icon {
        position: fixed;
        transition: 1s;
        height: 10px;
        width: 10px;
        top: 5%;
        z-index: 3;
    }
    .navlinks.responsive a {

        display: flex;
        flex-flow: column;
        justify-items: center;

        border-radius: 10px;
        column-gap: 1px;
        height: 1px;
        font-size: 1em;
        text-align: center;

    }

    .navlinks.responsive.active a
    {
        color: var(--background);
    }

    .navbar
    {
        padding: 5vh;
    }



}


.navbar img {
    place-self: flex-start;

}

.logo {
    display: flex;
    flex-flow: row;
    text-align: center;
    width: auto;
    height: 50px;
    place-self: baseline;
    padding: 0;
    box-sizing: content-box;

}

.logo img {


}

.navname {

    font-weight: bold;
    font-size: 1.2em;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    padding: 0;
    box-sizing: content-box;
    place-self: baseline;


}

.navlinks {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    justify-self: end;
    position: relative;
    text-align: center;
    gap: 10vh;
    font-size: 1.2em;

}

.navlinks a {
    text-decoration: none;
    color: var(--text);
    height: 0.1em;

}

.navlinks a:hover {
    background: var(--secondary);
    transition: 0.5s;
}

.navlinks a.active {
    background: var(--primary);


}

.hero {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image: url("img/img_2.png") ;
    background-repeat: no-repeat;
    background-size: 90vh;
    background-clip: padding-box;
    background-position-x: 100%;
    background-position-y: 10%;
    background-color: var(--background);
    margin-left: 25px;



}

.welcome {
    font-size: 1.5em;
!important;
    font-weight: normal;


}

.lorehub {
    font-size: 1.5em;
!important;
    font-weight: 800;
    padding-bottom: 10px;


}

.spotlightcon {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 2em;
    width: 100%;


}

.spotlight {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    width: fit-content;
    overflow: hidden;
    transition: 0.3s;
    text-decoration: none;
    color: var(--text);

}

.spotlight img {
    grid-area: 1 / 1 / 2 / 2;
    overflow: hidden;
}

.hoverspot
{
    grid-area: 1 / 1 / 2 / 2;
    place-self: self-end;
    text-align: left;
    text-indent: 15px;
    height: 25px;

    background-color: var(--background);
    width: 100%;
    -webkit-box-shadow: 0px 0px 50px 50px var(--background);
    -moz-box-shadow: 0px 0px 50px 50px var(--background);
    box-shadow: 0px 0px 50px 50px var(--background);
    opacity: 0;
    padding-bottom: 30px;
    padding-left: 10px;

    border-radius: 10px;
    transition: 0.3s;
}

.spotlight:hover
{
    -webkit-box-shadow:0px 0px 500px 10px var(--accent);
    -moz-box-shadow: 0px 0px 500px 10px var(--accent);
    box-shadow: 0px 0px 500px 10px var(--accent);
    border-radius: 10px;
    transition: 1s;
}

.spotlight:hover .hoverspot
{
    opacity: 1;
    border-radius: 10px;
    transition: 0.3s;
}

.verspot {
    grid-area: 1 / 1 / 2 / 2;

    align-items: center;
    text-align: center;

    background-color: var(--primary);
    width: 50vh;
    height: 50vh;
    border-radius: 10px;
    margin-bottom: 50px;

    color: var(--background);
    font-weight: normal;
}

.verspot img {
    width: 50vh;
}


.splashart {


    z-index: -1;
    width: 100vh;
    height: 90vh;

    object-fit: cover;



}

.splashart img {

    width: 100vh;



}

.changelogbtn {
    display: inline-block;
    width: 49vh;
    color: var(--text);
    font-style: var(--font-family);
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    font-size: 0.75em;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--secondary);
    margin-bottom: 10vh;
}

.showcase {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;


}

.headingsc {
    background-image: url("img/img_3.png");
    background-size: cover;

    padding: 125px;
    display: flex;
    flex-flow: column;
    flex-basis: content;
    z-index: 1;
    font-size: 7.5em;
    overflow: hidden;
    grid-area: 1 / 1 / 2 / 2;
    font-weight: 700;
    color: #E6E6E6FF;


    letter-spacing: -0.06em;


}


.scrolling {

    padding-top: 50px;
    display: flex;
    flex-flow: row;
    transform: translateX(-100%);
    gap: 50px;
    width: 100%;
    position: relative;
    animation: scroll ease-in-out;
    animation-timeline: scroll(root);
}


@keyframes scroll {
    0%
     {
        transform: translateX(100%);
     }
    100% {
        transform: translateX(-100%);
    }
}

.placeholder {

    width: 250px;


}

.footer {
    background-color: var(--background);
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 25%;
    padding: 50px;
    position: absolute;
    left: 0;
    width: 80vw;
    height: auto;


}

.footerlinks {
    display: flex;

    align-self: baseline;
    flex-wrap: wrap;
    gap: 10px;
    flex-flow: column;
    color: var(--primary);
}

.footerlinks a {
    text-decoration: none;
    color: var(--text);
}

.logof {
    display: flex;
    width: 100px;
    flex-flow: row;
    text-align: center;

}

.logof img {

}

.navnamef {
    margin-top: 15px;
    margin-left: 15px;
    width: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.sub1 {
    font-size: 0.35em;
!important;

    letter-spacing: 0em;
    font-weight: 350;

}

.header {
    font-size: 3em;
!important;
    font-weight: 800;
    margin-top: 25px;
    margin-left: 75px;
    margin-right: 75px;
    padding-bottom: 25px;
    display: flex;

    justify-items: center;
    gap: 10px;
    width: 100%;

}

.changelogbtnsmall {
    text-decoration: none;
    font-size: 0.4em;
!important;
    background-color: var(--primary);
    text-align: center;
    justify-self: center;
    align-items: center;
    font-weight: normal;
    max-width: 200px;
    padding: 10px;
    height: fit-content;
    margin: 10px;
    border-radius: 10px;
    color: var(--background);
}

.changelogbtnsmall2 {
    text-decoration: none;
    font-size: 0.4em;
!important;
    background-color: var(--grey);
    text-align: center;
    justify-self: center;
    align-items: center;
    font-weight: normal;
    max-width: 200px;
    padding: 10px;
    height: fit-content;
    margin: 10px;
    border-radius: 10px;
    color: var(--text);
}



.gallerycon {
    margin-left: 60px;
    display: flex;
    flex-flow: row;
    row-gap: 65px;
    margin-bottom: 100px;
    flex-wrap: wrap;

}

.gallerycon2 {
    margin-left: 60px;
    display: flex;
    flex-flow: column;

    margin-bottom: 100px;
    flex-wrap: wrap;

}
.item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 15px;
    max-width: 300px;
    height: 300px;
    padding-left: 15px;
    text-decoration: none;
    color: var(--text);
    font-size: 1.2em;

    background: var(--background);


}

.itemregion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    row-gap: 10px;
    min-width: 200px;
    height: 300px;
    padding-left: 15px;
    margin-bottom: 25px;
    text-decoration: none;
    color: var(--text);
    font-size: 1.2em;
    border-radius: 5px;
    background: var(--background);



}

.itemregion img
{
    border-radius: 10px;
    max-width: 100vh;
}

.item img {
    grid-area: 1 / 1 / 2 / 3;
}

.itemname {
    grid-area: 2 / 1 / 3 / 2;
    margin-left: 2.5px;

    position: sticky;
}

.itemtype {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--primary);
    height: 20px;
    text-align: center;
    min-width: 100px;
    align-self: stretch;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 0.75em;
    justify-self: end;
    color: var(--background);
    display: flex;

}


.update {
    font-size: 2em;
!important;
    font-weight: 400;
    margin-left: 75px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.changelog {

    white-space: pre-line;
    width: 800px;
    margin-left: 75px;

}

.charactercard {

    grid-area: 1 / 1 / 2 / 2;

    display: grid;

    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    margin: 50px;
    margin-bottom: 100px;

    width: 300px;
    height: 400px;
}



.picturecard {
    grid-area: 1 / 1 / 2 / 3;

}
.namecard {
    grid-area: 2 / 1 / 3 / 2;
    font-size: 2em;

}
.regioncard {
    grid-area: 2 / 2 / 3 / 3;
    background-color: var(--primary);
    padding-left: 30px;
    padding-right: 30px;
    height: 30px;
    max-width: 100px;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 5px;
    font-size: 1em;
    justify-self: end;

    color: var(--background);
}

.charinfo{
    display: flex;
    flex-flow: column;
    margin-top: 75px;
    gap: 10px;
    width: 100%;
    grid-area: 2 / 1 / 3 / 2;

}

.rarity img
{
    max-width: 75px;
    margin-top: 10px;
}
.charcon
{
    display: flex;
    justify-content: left;
    justify-items: left;
    width: 100%;
    height: 100%;
    margin-bottom: 5vh;
    justify-self: center;
    overflow: hidden;
    align-self: center;
    place-self: center;
    margin-left: 10%;




}

.charstory{
    white-space: pre-line;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 25px;

    margin-right: 5%;
    grid-area: 1 / 2 / 3 / 3;

}

.headercenter{
    font-size: 3em;
!important;
    font-weight: 800;

    margin-top: 50px;
    margin-bottom: 100px;
    align-items: center;
    justify-items: center;

    width: 100%;
    height: 50px;
    text-align: center;
}

.skillcon
{
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    gap: 50px;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.skillcon1
{
    background: var(--grey);
    min-width: 300px;
    min-height: 100px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 20px;
}

.skillcon1 img
{
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    z-index: 1;
    place-self: center;
    top: -50px;

}

.skillname
{
    text-align: center;
    place-self: center;
    font-size: 2em;
    position: relative;
    top: -20px;
    justify-items: center;

}

.popup{

    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
    backdrop-filter: blur(10px);



}

.iconpop
{

    place-self: center;

}


.popupbtnhydro
{
    all: unset;
    cursor: pointer;
    color: var(--text);
    background: var(--hydro);
    height: 30px;
    border-radius: 5px;
    text-align: center;

}
.popupbtnpyro
{
    all: unset;
    cursor: pointer;
    color: var(--text);
    background: var(--pyro);
    height: 30px;
    border-radius: 5px;
    text-align: center;

}

.popupclosebtn
{
    all: unset;
    cursor: pointer;
    color: #1A1A1AFF;
    background: #ff7676;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    place-self: end;
}



.popupbtn:hover
{

}


.popup-content
{
    white-space: pre-wrap;
    background-color: var(--background);
    width: 50vw;
    height: fit-content;
    padding:2.5vw;
    gap: 20px;
    border-radius: 10px;
    color: var(--text);
    overflow-y: scroll;
    place-self: center;
    display: flex;
    flex-flow: column;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    grid-area: 1 / 1 / 2 / 2;

}


.popupheader
{
    font-size: 2em;
    font-weight: 800;
}

.popupcon::backdrop
{
    background-color: rgb(0 0 0 / 0.75);
}

.dark
{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,0.75);
}
@media screen and (min-width: 50px) and (max-width: 1024px) {
    .footer
    {
        flex-flow: column;
        margin-bottom: 10px;
        place-content: center;
        place-self: center;
        place-items: center;
        gap: 50px;

    }

    .footer > *
    {
       align-items: center;
        place-self: center;

    }

    .footerlinks a
    {
        place-items: center;
    }

    .logof
    {
        width:170px;
    }

    .charcon
    {
        flex-flow: column;
        place-self: center;
        justify-items: center;
        margin: 0px;
        margin-bottom: 10px;
        padding: 1vw;
        padding-right: 25vw;

    }

    .charstory
    {
       width: 90vw;
        margin: 10px;

    }

    .charactercard
    {
        place-self: start;
        left: 0;
        margin-left: 10px;
        margin-bottom: 100px;
    }

    .picturecard
    {
        width: 100%;
    }

    body
    {

    }

    .popup-content
    {
        width: 80%;
        padding:7vw;
        top: 10vh;
        left: 2vw;
        -webkit-transform: translateX(-0%) translateY(-0%);
        -moz-transform: translateX(-0%) translateY(-0%);
        -ms-transform: translateX(-0%) translateY(-0%);
        transform: translateX(-0%) translateY(-0%);

    }

    .iconpop
    {
        place-self: baseline;

    }

    .searchbar
    {
        width: 90%;
    }

    .search
    {
        width: 100%;
    }

    .skillset
    {

        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .headercenter
    {
        margin-top: 25px;
        margin-bottom: 50px;
    }

    .header{
        flex-flow: column;
        align-items: flex-start;
    }

    .changelogbtnsmall
    {
        width: 100vw;

    }

    .changelogbtnsmall2
    {
        width: 100vw;
        height: fit-content;

    }

    .itemregion
    {
        height: 150px;
        width: available;
        margin-right: auto;
    }

    .itemregion img
    {

        object-fit: cover;
        width: 75vw;

    }

    .itemname
    {
        height: 1px;
        margin-bottom: 1px;

    }

    .gallerycon2
    {
        gap:6vw;
    }

    .bgsplash
    {

    }






}

@media screen and (min-width: 300px) and (max-width: 600px) {
    .iconpop
    {
        padding: 1%;

    }
}

.search
{
    all: unset;

    display: flex;
    flex-flow: row;
    justify-items: center;
    place-self: center;
    gap: 10px;
    height: 30px;
    margin-left: 13%;
    margin-right: 13%;
}

.searchbar
{
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    font-size: 1em;
}

.search i
{
    align-self: center;
}

.searchbtn
{
    all:unset;
    background: var(--secondary);
    padding: 5px;
    width: 75px;
    height: 25px;
    align-self: center;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}



.charcon

{
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    padding-bottom: 50px;
    border-radius: 10px;
    width: 80%;
    background-color: var(--bgdisablelight);
}

.bgsplash
{
    position: sticky;
    place-self: start;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin-top: -50vh;
    z-index: -1;
    object-fit: cover;
}

.skillset
{
    background-color: var(--bgdisablelight);
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 15px;
    margin-bottom: 60px;

}
@media screen and  (min-width: 1030px) {
    .skillset
    {
        width: 80vw;
        margin: auto;
        margin-bottom: 50px;

    }

}

